.logos {
    position: absolute;
    top: 120px;
    left: 30%;
}

.identitas {
    position: absolute;
    top: 320px;
    left: 30%;
}

.pesanR {
    position: absolute;
    top: 420px;
    left: 30%;
}

