.div1 {
    padding-left: 24px;
    padding-right: 24px;
    background-image: url(assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

h1,p {
    color: white;
}

.txt {
    color: white;
}
