
.disable {
    opacity: 0;
}


.gabut {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    padding-top: 2cm;
    left: 30%;
}

.ampas {
    position: absolute;
}

p {
    font-family: 'Times New Roman';
    font-size: 18px;
}