.logos {
    border-radius: 4px;
    border-color: black;
    width: 100px;
    height: 100px;
    background: white;
    position: absolute;
    top: 70px;
    left: 60px;
}

.identitas {
    top: 100px;
    left: 100px;
}